<div id="main">
<div class=".container">
  <nav class="navbar navbar-expand-lg bg-success navbar-dark">
      <span class="navbar-brand">BANKING</span>

       <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active"[queryParams]="{activationcode:x}"  queryParamsHandling="preserve">Home</a>
          </li>

          <li  class="nav-item">
            <a routerLinkActive="active" class="nav-link" [routerLink]="['/transactions']"[queryParams]="{activationcode:x}"  queryParamsHandling="preserve">Transaction</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active"  [routerLink]="['/Loan']"[queryParams]="{activationcode:x}" queryParamsHandling="preserve">Loan</a>
          </li>
          <li>
            <a class="nav-link" routerLink="active" [routerLink]="['/loan_details']"[queryParams]="{activationcode:x}" queryParamsHandling="preserve">Loan Details</a>
          </li>
          <li>
            <a class="nav-link" routerLink="active" [routerLink]="['/emicalculator']"[queryParams]="{activationcode:x}" queryParamsHandling="preserve">Emi calculator</a>
          </li>
          <div class="log">
          <li class="nav-item" style="float: right;">
            <a routerLinkActive="active" class="nav-link navbar-right pull-right" [routerLink]="['/logout']">Logout</a>
         </li>
        </div>
       </ul>
    </nav>
  </div>
  <div class=".container">
    <div class="row">
<div class="col-3 jumbotron">
  <div class="row">
 <div class="col-12 ">
  <form [formGroup]="login">
  <div>

     <h1>Sign in</h1>
    </div>

        <div>
        <label for="login_id">Username</label>

             <input type="text" class="form-control" [(ngModel)]="login_username" formControlName="user" id="login_id" placeholder="Username"/>
              <span style="color:red" *ngIf="user.invalid"></span><br />
            </div>

            <div>
              <label for="login_password">Password</label>

              <input type="password"  id="pass" formControlName="pass" [(ngModel)]="login_password" id="login_passsword" placeholder="Password" class="form-control"/>
              <span style="color: red;" *ngIf="pass.invalid"></span>
            </div>



           <div>
             <button [disabled]="login.invalid" (click)="Login()" type="button" id="login" class="btn btn-success" style="margin-top: 10px;">Sign in</button>
             <button type="reset" class="btn btn-success" style="margin-top: 10px; margin-left: 5px;">Clear</button>
            </div>
            <div>
              <p ngDefaultControl [(ngModel)]="login_error_message">{{login_error_message}}</p>
            </div>




  </form>



</div>
</div>
<div class="row">
  <div class="col-12">
   <form #user_registration="ngForm" [formGroup]="create">
<div>
           <h1> Sign up</h1>
          </div>
          <div>
             <label for="name">Name</label>

                        <input type="text" placeholder="Name" formControlName="name" [(ngModel)]="user_name"  id="name" class="form-control"  />
                         <span *ngIf="name.invalid"></span>
                        </div>

                         <div>

                     <label for="pass">Password</label>


                           <input type="password" id="pass" formControlName="pass1" class="form-control" [(ngModel)]="user_password" placeholder="Password" name="pass"/>
                           <span style="color:red" *ngIf="pass1.errors?.pattern">should contain one uppercase lowercase special character and number</span>
                          </div>
                          <div>

                   <label for="email">Email</label>


                       <input type="email" id="email" class="form-control" formControlName="email" [(ngModel)]="user_email" placeholder="@example.com" name="email"/>
                       <span style="color:red" *ngIf="email.invalid">Email not valid</span>

                      </div>
                    <div>

                     <label for="Birth_date">DOB</label>
                         <input type="date" id="Birth_date" class="form-control" [(ngModel)]="user_dob" formControlName="birth_date" placeholder="Date_of_birth" name="Birth_date"/>
                         <span *ngIf="birth_date.invalid"></span>
                        </div>
                    <div>

                       <input type="radio" id="saving" name="account_type" formControlName="account_type" [(ngModel)]="user_account_type" value="SAVING" >
                       <span *ngIf="account_type.invalid"></span>
                       <label for="saving">Saving</label>
                       <input type="radio" style="margin-left:10px;" id="current" [(ngModel)]="user_account_type" name="account_type" formControlName="account_type" value="CURRENT">
                       <span *ngIf="account_type.invalid"></span>
                       <label for="current">Current</label>
                      </div>


                        <br>
<div>
                        <button [disabled]="create.invalid" (click)="Register()" type="button"  id="create" class="btn btn-success">Create</button>
                        <button type="reset" class="btn btn-success" style="margin-left: 5px;">Clear</button>
                      </div>

        <p ngDefaultControl [(ngModel)]="message">{{message}}</p>
   </form>

</div>
</div>
</div>
<div class="col-9">
  <router-outlet></router-outlet>
</div>
</div>
</div>
















